
@{
    ViewBag.Title = "Don";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<body>

    <section>
        <div class="m-md-2" id="videPetit">
            <h2>
                Vous vous sentez concerné par la sauvegarde de la nature et l’environnement ?
            </h2>
        </div>
    </section>

    <br />
    <br />
    <div id="videPetit">
        <img src="~/Content/Images/paiement_association.png" />
    </div>

    <div class="m-md-5"></div>

    <div class="container">
        <div class="row">
            <div class="col-12">
                <h4><strong>Le don est l’expression de votre engagement !</strong></h4>
                <div class="row text-justify">
                    Il est aujourd’hui essentiel aux associations et fondations pour mettre en place leurs programmes et accompagner leurs bénéficiaires.
                    Votre générosité permet en effet de lancer des missions de protection, des études et des actions de sensibilisation.
                    Elle garantit l’indépendance et la liberté de parole et d’action de ces organisations d’intérêt général et leur permet de porter des plaidoyers vigoureux pour protéger la biodiversité, l’environnement et la cause animale.
                    Vous pouvez alors soutenir le ou les projets de votre choix, tout en suivant leurs avancées. De nombreux dons sont nécessaires pour les associations et fondations pour réaliser ces projets et les faire perdurer dans le temps. Pour cela, n’hésitez pas à mobiliser votre entourage pour soutenir les projets que vous suivez et qui vous tiennent à cœur !
                </div>
            </div>
        </div>
    </div>
    <div class="m-md-5"></div>
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h4><strong>Comment fonctionne le don en ligne ? </strong></h4>
                <div class="row text-justify">
                    Un projet ou des projets vous intéressent !<br />
                    Vous choisissez le montant de votre don.<br />
                    Votre versement est effectué par carte bancaire.<br />
                    Renseignez vos coordonnées et procédez au règlement.<br />
                    Afin de pouvoir recevoir votre facture, Il suffit de mentionner avec votre don votre Nom, prénom et émail !
                    Votre paiement sur ce site est complètement sécurisé.
                </div>
            </div>
        </div>
    </div>
    <div class="m-md-5"></div>
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h4><strong>Grâce à vous, de nombreuses autres actions de protection de l’environnement vont pouvoir être menées. <br />Merci !</strong></h4>
                <div class="row text-justify">
                </div>
            </div>
        </div>
    </div>

    <div class="vide"></div>
</body>

