
@{
    ViewBag.Title = "QuiSommesNous";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<body>

    <section>
        <div class="m-md-2" id="videPetit">
            <h2>
                Qui sommes nous?
            </h2>
        </div>
    </section>

    <div class="m-md-2" id="videPetit">
        <h3 style="color:#87CEFA;">
            Une équipe engagée au côté de l'environnement! 
        </h3>
    </div>
    
    <div class="vide"></div>
    <div class="container-fluid">
        <div class="row">
                <div class="col-3">
                    <h4 class="row justify-content-center">Najat Jammy</h4>
                </div>
                <div class="col-3">
                    <h4 class="row justify-content-center">Pierre Poulet-Mathis</h4>
                </div>
                <div class="col-3">
                    <h4 class="row justify-content-center">Roman Kulbacki</h4>
                </div>
                <div class="col-3">
                    <h4 class="row justify-content-center">Thomas Deloffre</h4>
                </div>
            
        </div>
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-3">
                <div class="row justify-content-center">

                    <img src="~/Content/Images/Najat.jpg" />
                </div>
            </div>
            <div class="col-3">
                <div class="row justify-content-center">


                    <img src="~/Content/Images/Pierre.jpg" />
                </div>
            </div>
            <div class="col-3">
                <div class="row justify-content-center">

                    <img src="~/Content/Images/JJr.jpg" />
                </div>
            </div>
            <div class="col-3">
                <div class="row justify-content-center">


                    <img src="~/Content/Images/Thomas.jpg" />
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <h4><strong>Derrière la plateforme PraYa !</strong></h4>
        <p>
            Ce sont 4 collaborateurs aux profils divers et variés mais tous passionnés ! <br />
            Ensemble, nous vous accompagnons pour que vos cagnottes rencontrent le plus de succès possible, nous mettons en lumière vos jolis projets et 
            trouvons les meilleurs partenaires pour que vous puissiez conduire au mieux vos projets. <br />
            Nous travaillons pour rendre votre expérience sur notre 
            plateforme simple et agréable et veillons à ce que vos collectes se déroulent en toute sécurité !
        </p>
    </div>
    <br />
    <br />
    <br />
    <br />
</body>
