@model List<Projet2_Praya.Models.type_projet>
@{
    ViewBag.Title = "Liste des types de projet";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<body>
    <div class="container-fluid">
        <div class="row">
            <div class="col-8"></div>
            <div class="col-4">
                Heure du serveur : @ViewBag.curdate.ToString("le dddd dd/MM/yyyy à H:mm:ss")
                <br />
                <a class="bouton" href="/Admin/Index">Retour Accueil Administrateur</a>
            </div>
        </div>
    </div>



    <section>
        <div class="m-md-2" id="videPetit">
            <h2>
                Liste des Types de projet
            </h2>
            <a class="bouton" href="/Admin/AjouterTypeProjet/">Ajouter un type de projet</a>
        </div>
    </section>
    <div class="p-md-4"></div>
    <div class="container">
        <table class="table">
            <thead class="thead-light">
                <tr>
                    <th>Type</th>
                    <th>Libellé</th>
                    <th>Lien de modification</th>
                </tr>
            </thead>
            @{foreach (var item in Model)
                {
                    <tbody>
                        <tr>
                            <td>@item.type</td>
                            <td>@item.libelle</td>
                            <td><a class="bouton" href="/Admin/ModifierTypeProjet?id=@item.type">Modifier</td>
                        </tr>
                    </tbody>
                }
            }
        </table>
    </div>

    <div class="vide"></div>
</body>
@section footerstyle{
    .footerstyle{position:fixed;bottom:0px;width:100%}
}








               
          
       
